body {
    background-color: var(--dark);
    color: var(--white);
}

.jodit-toolbar__box,
.jodit-status-bar,
.jodit-popup__content {
    background-color: var(--dark-light) !important;
    color: var(--white) !important;
    border: 1px solid var(--border-deep) !important;
}
.jodit_theme_dark
    .jodit-toolbar__box:not(:empty)
    .jodit-toolbar-editor-collection:after {
    border-color: var(--border-deep) !important;
}
.jodit-wysiwyg {
    background-color: var(--dark) !important;
    color: var(--white) !important;
}

.jodit-wysiwyg li {
    margin-left: 1.5rem;
}

.global-page-header h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.global-page-content {
    margin-top: 1.5rem;
}

.global-single-page-header a {
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
}
.global-single-page-header a:hover {
    color: var(--yellow);
    text-decoration: none;
}
.global-single-page-header a svg {
    vertical-align: middle;
    margin-right: 0.8rem;
}

.sidebar-card {
    background-color: var(--dark-light);
}
.sidebar-card-header {
    /* width: 100%; */
    margin-bottom: 1rem;
    /* background-color: var(--dark); */
}

.sidebar-card-header::after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--yellow);
    margin-bottom: 0.5rem;
    position: relative;
    bottom: 16px;
    right: -106%;
}

.sidebar-card-header::before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--yellow);
    margin-bottom: 0.5rem;
    position: relative;
    top: 25px;
    left: -40px;
}

.sidebar-card-header h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--yellow);
    text-align: left;
}

.accordion {
    width: 100%;
    max-width: 800px;
}

.accordion__item {
    /* background-color: red; */
    border: 1px solid var(--border-deep);
}
.accordion__button::before {
    display: inline-block;
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}
.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
    transform: rotate(45deg);
}
.accordion__heading {
    background-color: var(--dark);
    padding: 1rem;
    cursor: pointer;
}
.accordion__panel {
    background-color: var(--dark-light);
    padding: 1rem;
    border-top: 1px solid var(--border-deep);
    transition: all 0.3s ease-in-out;
}
