body {
    background-color: var(--dark);
    color: var(--white);
}

.jodit-toolbar__box,
.jodit-status-bar,
.jodit-popup__content {
    background-color: var(--dark-light) !important;
    color: var(--white) !important;
    border: 1px solid var(--border-deep) !important;
}
.jodit_theme_dark
    .jodit-toolbar__box:not(:empty)
    .jodit-toolbar-editor-collection:after {
    border-color: var(--border-deep) !important;
}
.jodit-wysiwyg {
    background-color: var(--dark) !important;
    color: var(--white) !important;
}

.jodit-wysiwyg li {
    margin-left: 1.5rem;
}

.global-page-header h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.global-page-content {
    margin-top: 1.5rem;
}

.global-single-page-header a {
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
}
.global-single-page-header a:hover {
    color: var(--yellow);
    text-decoration: none;
}
.global-single-page-header a svg {
    vertical-align: middle;
    margin-right: 0.8rem;
}
