.AnswerBox {
    margin-top: 5rem;
    border-top: 3px solid var(--border);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
}
.component-header h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.answer {
    margin-bottom: 1rem;
    background-color: var(--dark-light);
    padding: 1rem 1rem;
    border-radius: 5px;
}
.answer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.info {
    display: flex;
    align-items: center;
}
.answer-author {
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 0.5rem;
}
.answer-author > * {
    vertical-align: middle;
}
.answer-date {
    font-size: 0.9rem;
    color: var(--border);
}
.up-down-votes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.up-down-votes > * {
    vertical-align: middle;
}
.upvote {
    color: var(--success);
}
.downvote {
    color: var(--danger);
}

.answer-attachments {
    margin-top: 1rem;
}
.image {
    width: 100%;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.answer textarea {
    width: 100%;
    border: 1px solid var(--border);
    background-color: var(--dark);
    padding: 0.8rem;
    color: var(--white);
    font-size: 1rem;
    resize: none;
    outline: none;
    border-radius: 5px;
    min-height: 8rem;
}

@media (max-width: 1000px) {
    .AnswerBox {
        margin-top: 3rem;
        width: 100%;
    }
    .answer {
        padding: 0.5rem 0.5rem;
    }
    .answer textarea {
        padding: 0.5rem;
    }
    .component-header h3 {
        font-size: 1rem;
    }
    .answer-header {
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
    }
    .answer-author {
        font-size: 0.8rem;
    }
    .answer-date {
        font-size: 0.8rem;
    }
    .up-down-votes {
        gap: 0.3rem;
    }
    .up-down-votes > * {
        font-size: 0.8rem;
    }
    .answer-attachments {
        margin-top: 0.5rem;
    }
    .image img {
        border-radius: 3px;
    }
    .answer textarea {
        font-size: 0.9rem;
    }
}
