.page-header a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.page-header > * {
    vertical-align: middle;
}
.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.user-box {
    position: fixed;
    width: 25%;
    background-color: var(--dark-light);
    height: 100%;
    padding: 0 1rem;
}
.search {
    width: 100%;
    /* height: 10%; */
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 40px;
    background-color: var(--dark);
    color: var(--white);
}

.single-chat {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: var(--dark);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.single-chat:hover {
    background-color: var(--yellow);
}
.single-chat:hover h3,
.single-chat:hover p {
    color: var(--dark);
}
.user-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-info h3 {
    font-size: 1rem;
    color: var(--white);
    font-weight: 500;
}

.user-info p {
    font-size: 0.8rem;
    color: var(--border);
    font-weight: 400;
}

.chat-box {
    position: fixed;
    left: 25%;
    width: 75%;
    height: 100%;
    background-color: var(--dark);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aqua; */
}
.chat-header {
    /* background-color: red; */
    position: fixed;
    top: 10px;
    padding: 0.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: 1px solid var(--border-deep);
    justify-items: start;
}
.message-input {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--dark); */
    padding: 0 1rem;
    gap: 1rem;
    position: relative;
}
.message-input input {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 1rem;
    background-color: var(--dark-light);
    color: var(--white);
}
.message-input input:focus {
    outline: 1px solid var(--border);
}

.image-selector svg {
    width: 1.5rem;
    height: 1.5rem;
    /* fill: var(--white); */
    cursor: pointer;
    vertical-align: middle;
}
.image-previwer {
    position: absolute;
    top: -100px;
    display: flex;
    gap: 0.5rem;
    background-color: var(--dark-light);
    padding: 1rem;
    border-radius: 0.5rem;
}
.imageBox {
    border: 2px solid var(--border);
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.delete-btn {
    position: absolute;
}
.delete-btn svg {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    cursor: pointer;
    color: var(--danger);
    transition: all 0.3s ease;
    display: none;
    z-index: 1000;
}
.image-previwer > div {
    width: 100px;
    height: 100px;
    border: 1pxx solid var(--border);
}
.image-previwer > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid var(--border);
}
.image-previwer > div:hover .delete-btn svg {
    display: block;
}
.no-chat-selected {
    position: fixed;
    left: 25%;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 400;
    text-align: center;
}
.messages {
    width: 100%;
    padding: 0 1rem;
    overflow-y: scroll;
    /* position: relative; */
    /* scrollbar-width: none !important; */
}
.messages::-webkit-scrollbar {
    display: none !important;
}
.messages {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.message {
    width: 100%;
}

.message img {
    width: 100px;
    height: 100px;
    margin-left: 0.5rem;
    border: 1px solid var(--border);
}
.message-sender {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.message-sender p {
    background-color: var(--yellow);
    color: var(--dark);
    font-weight: 400;
    padding: 0.5rem 1.3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.message-receiver {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.message-receiver p {
    background-color: var(--dark-light);
    color: var(--white);
    font-weight: 400;
    padding: 0.5rem 1.3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
