.LoginSignup {
    background-color: var(--dark);
    color: var(--white);
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 74px);
}

.LoginSignup > div {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.LoginSignup div h3 {
    margin-bottom: 20px;
}
.LoginSignup div h3::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--white);
    display: block;
    margin-top: 5px;
}
.LoginSignup div form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form,
.signup-form {
    background-color: var(--dark-light) !important;
    padding: 50px 10px;
    border-radius: 10px;
}
.login-form > div,
.signup-form > div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form input,
.signup-form input {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid var(--border);
    padding: 4px 20px;
    margin-bottom: 8px;
    background: transparent;
    color: var(--white);
    font-size: 1rem;
    background-color: var(--dark);
    margin-bottom: 20px;
}
.input-field {
    position: relative;
}
.input-field span {
    position: absolute;
    left: 20px;
    top: 18px;
    font-size: 1rem;
    color: var(--border);
    padding: 0 5px;
    transition: 0.2s ease-in-out;
    border-left: 3px solid var(--dark);
    border-right: 3px solid var(--dark);
}
.input-field input ~ span.valid,
.input-field input:focus ~ span {
    background-color: var(--dark-light);
    top: -12px;
    left: 20px;
    border-left: 3px solid var(--border);
    border-right: 3px solid var(--border);
}
.signup-form button,
.login-form button {
    width: 100%;
}

.switch-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-form span {
    margin-left: 10px;
    color: var(--yellow);
}
