.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--dark);
    color: var(--white);
    /* border-bottom: 1px solid #444; */
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: var(--white);
}

.logoIcon {
    width: 40px;
    height: 41px;
    top: 34px;
    left: 66px;
    margin-right: 8px;
}
.collabor8Text {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    margin-right: 15px;
}

.searchBarContainer {
    width: 50%;
    height: 44px;
    top: 32px;
    left: 286px;
    border-radius: 5px;
    /* border: 2px solid var(--border); */
    background-color: var(--dark-light);
    display: flex;
    align-items: center;
    padding: 8px;
    margin-right: 8px;
}

.searchBar {
    padding: 15px;
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    margin-right: 8px;
    color: var(--white);
    font-size: 1rem;
}
.searchBar:focus {
    outline: none;
}

.searchLogo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navItems {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.navbarItem {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    top: 41px;
    left: 1213px;
}
.iconExit {
    width: 25px;
    height: 25px;
    margin-right: 28px;
    top: 41px;
    left: 1213px;
}
.sidebarIcon svg {
    width: 2rem;
    height: 2rem;
    margin-right: 8px;
    display: none;
}
.navbarText {
    width: 50px;
    height: 24px;
    top: 41px;
    left: 1146px;
    margin-right: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
}

.expertIcon {
    width: 25px;
    height: 25px;
    top: 41px;
    left: 1113px;
    margin-right: 8px;
}

@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .logoContainer {
        margin-left: 0px;
        order: 1;
    }
    .searchBarContainer {
        width: 100%;
        margin: 10px 0px;
        order: 3;
    }
    .searchBar {
        margin-right: 0px;
    }
    .navItems {
        order: 2;
        margin-right: 0px;
        width: 100%;
        justify-content: space-between;
    }
    .navbarItem {
        margin-left: 10px;
    }
    .sidebarIcon svg {
        display: block;
    }
}
