.ProfileDetails {
    position: absolute;
    left: 0;
    width: 70%;
    /* background: green; */
    padding: 1rem;
}

.personal-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.info-part {
    width: 70%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.profile-img {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.info {
    width: 70%;
    margin: 1rem 0;
}
.info h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
.info p {
    font-size: 1rem;
    font-weight: 400;
}
.info p.email {
    color: var(--border);
    margin-bottom: 1rem;
}
.info p.bio {
    margin-bottom: 0.5rem;
}
.profile-btn {
    margin-bottom: 1rem;
}

.personal-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.card {
    width: 32%;
    background-color: var(--dark-light);
    padding: 2rem 3rem;
    border-radius: 10px;
    /* border: 2px solid var(--border); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.2s ease;
}
.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transform: scale(1.02);
}
.card div span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.card div span:first-child {
    font-weight: 600;
    font-size: 1.2rem;
}

.message-area {
    width: 100%;
    margin-top: 1rem;
    /* background-color: var(--yellow); */
    /* opacity: 0.8; */
    border: 2px solid var(--border);
    padding: 2rem;
    border-radius: 10px;
    /* color: var(--dark); */
    font-weight: 600;
    text-align: left;
}

.message-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.questions {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}
.questions h3 {
    font-size: 1.2rem;
    font-weight: 600;
    /* margin-bottom: 1rem; */
}

.responsive-button {
    display: none;
}
@media screen and (max-width: 1000px) {
    .responsive-button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .ProfileDetails {
        /* position: relative; */
        width: 100%;
        padding: 1rem;
    }
    .personal-info {
        flex-direction: column;
        align-items: center;
    }
    .info-part {
        width: 100%;
        justify-content: center;
    }
    .profile-img {
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
    }
    .info {
        width: 100%;
        margin: 1rem 0;
        align-items: center;
    }
    .info > * {
        text-align: center;
    }
    .personal-cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        margin-bottom: 1rem;
    }
    .message-area {
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .message-btn {
        align-items: center;
    }
    .questions {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
    }
    .questions h3 {
        font-size: 1rem;
        font-weight: 600;
        /* margin-bottom: 1rem; */
    }
}
