/* Tags.module.css */
.Tags {
    position: absolute;
    width: 68px;
    height: 22px;
    top: 181px;
    left: 545px;
    border-radius: 5px;
    border: 1px solid #E4E3E5;
    background-color: #FFBB26;
}

.TagsText {
    position: absolute;
    width: 41px;
    height: 15px;
    top: 3px; /* Adjusted top value */
    left: 13px; /* Adjusted left value */
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    background: transparent;
    color: #171821;
}
